asgiref==3.9.1
attrs==25.4.0
certifi==2025.7.14
cffi==2.0.0
charset-normalizer==3.4.2
cryptography==46.0.3
Django==5.2.4
django-cors-headers==4.3.1
django-debug-toolbar==4.2.0
django-filter==25.2
django-jalali-date==2.0.0
django-unfold==0.63.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.10.1
idna==3.10
inflection==0.5.1
jalali_core==1.0.0
jdatetime==5.2.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
marshmallow==3.20.1
packaging==25.0
pillow==11.3.0
plotly==5.18.0
psycopg==3.2.9
psycopg2==2.9.10
pycparser==2.23
PyJWT==2.10.1
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.31.0
rpds-py==0.27.1
six==1.17.0
sqlparse==0.5.3
tenacity==9.1.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
